openapi: 3.0.3
info:
  title: incus-admin API
  description: |
    incus-admin 是基于 Incus 的私有云管理面板。本文档描述 portal（用户面）+ admin（管理员面）的 HTTP API。

    认证：
      - Web UI：oauth2-proxy 透传 X-Forwarded-Email + ProxyAuth middleware
      - API client：Bearer token（POST /portal/api-tokens 创建）

    Step-up：部分敏感 admin 端点需要在 5 分钟内完成 OIDC re-auth；未完成时返 401 with `step_up_required`。

    本 spec 由 incus-admin 内嵌；生产构建时 commit 它即视为发布。当前覆盖核心资源；
    完整 80+ endpoint 通过 swag v1 增量补充（OPS 后续）。
  version: 1.0.0
  contact:
    name: incus-admin
    url: https://vmc.5ok.co
servers:
  - url: https://vmc.5ok.co/api
    description: production
  - url: http://localhost:8080/api
    description: local
security:
  - cookie: []
  - bearer: []
tags:
  - name: vm
    description: 虚拟机生命周期
  - name: firewall
    description: 用户级 / 共享防火墙组
  - name: floating-ip
    description: Floating IP 分配 / 绑定
  - name: snapshot
    description: 实例 snapshot CRUD
  - name: order
    description: 订单与支付
  - name: ssh-key
    description: 用户 SSH 公钥
  - name: alert
    description: PLAN-041 监控告警闭环
  - name: notify
    description: PLAN-041 通知通道
  - name: metrics
    description: Prometheus exposition + 业务指标
paths:
  /health:
    get:
      summary: 健康检查
      description: 返回 dist_hash + 状态。无需鉴权。
      security: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  dist_hash: { type: string, example: a1b2c3d4 }
  /metrics:
    get:
      summary: Prometheus exposition
      description: |
        业务指标 + Go runtime。默认匿名；当 METRICS_BEARER_TOKEN 配置时强制 Bearer。
        指标列表：
          - incusadmin_vms_active{status}
          - incusadmin_orders_pending
          - incusadmin_jobs_failed{kind}
          - incusadmin_alerts_active{kind,severity}
          - incusadmin_balance_total
          - incusadmin_build_info{version,dist_hash,env}
      tags: [metrics]
      security: []
      responses:
        '200':
          description: prometheus exposition
          content:
            text/plain: {}
        '401': { $ref: '#/components/responses/Unauthorized' }

  /portal/vms:
    get:
      summary: 列出当前用户的 VM
      tags: [vm]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  vms:
                    type: array
                    items: { $ref: '#/components/schemas/VM' }
  /portal/vms/{name}:
    get:
      summary: 获取单台 VM 详情（owner-scoped）
      tags: [vm]
      parameters: [{ $ref: '#/components/parameters/VMName' }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  vm: { $ref: '#/components/schemas/VM' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /portal/vms/{name}/snapshots:
    get:
      summary: 列 VM 的 snapshot
      tags: [snapshot]
      parameters:
        - { $ref: '#/components/parameters/VMName' }
        - in: query
          name: cluster
          required: true
          schema: { type: string }
        - in: query
          name: project
          required: true
          schema: { type: string }
      responses:
        '200':
          description: ok
    post:
      summary: 创建 snapshot
      tags: [snapshot]
      parameters: [{ $ref: '#/components/parameters/VMName' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cluster]
              properties:
                cluster: { type: string }
                project: { type: string }
                name: { type: string, description: '默认 snap-YYYYMMDD-HHMMSS' }
      responses:
        '201':
          description: created

  /portal/firewall/groups:
    get:
      summary: 列出当前用户可见的 firewall group（共享 + 私有）
      tags: [firewall]
      responses:
        '200':
          description: ok
    post:
      summary: 创建私有 firewall group
      tags: [firewall]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FirewallGroup' }

  /portal/floating-ips:
    get:
      summary: 列出当前用户的 floating IP
      tags: [floating-ip]
      responses:
        '200': { description: ok }
    post:
      summary: 申请新 floating IP
      tags: [floating-ip]

  /portal/orders:
    get:
      summary: 列出当前用户订单
      tags: [order]
      responses:
        '200': { description: ok }
    post:
      summary: 创建订单
      tags: [order]

  /portal/ssh-keys:
    get:
      summary: 列出当前用户 SSH key
      tags: [ssh-key]
    post:
      summary: 添加 SSH key
      tags: [ssh-key]

  # ============ admin: PLAN-041 监控告警闭环 ============
  /admin/notify-channels:
    get:
      summary: 列出通知通道（不返 config）
      tags: [notify]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items: { $ref: '#/components/schemas/NotifyChannel' }
    post:
      summary: 创建通知通道（config 中含的 secret 服务端 AES-256-GCM 加密）
      description: 'step-up gated。kind 取值：dingtalk / feishu / wecom / webhook / smtp。'
      tags: [notify]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotifyChannelCreate' }
      responses:
        '201': { description: created }
        '401': { $ref: '#/components/responses/StepUpRequired' }

  /admin/notify-channels/{id}:
    parameters: [{ $ref: '#/components/parameters/ID' }]
    put:
      summary: 更新通道（PUT 替换；config 为空则保留原配置）
      tags: [notify]
      responses:
        '200': { description: ok }
        '401': { $ref: '#/components/responses/StepUpRequired' }
    delete:
      summary: 删除通道
      tags: [notify]
      responses:
        '200': { description: deleted }
        '401': { $ref: '#/components/responses/StepUpRequired' }

  /admin/notify-channels/{id}/test:
    parameters: [{ $ref: '#/components/parameters/ID' }]
    post:
      summary: 测试发送一条 demo 通知（同步，立即返回结果）
      tags: [notify]
      responses:
        '200':
          description: '{ status: ok | failed, error?: string }'
        '401': { $ref: '#/components/responses/StepUpRequired' }

  /admin/alert-rules:
    get:
      summary: 列出告警规则
      tags: [alert]
      responses:
        '200': { description: ok }
    post:
      summary: 创建告警规则
      tags: [alert]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlertRuleCreate' }

  /admin/alert-rules/{id}:
    parameters: [{ $ref: '#/components/parameters/ID' }]
    get:
      summary: 获取规则详情
      tags: [alert]
    put:
      summary: 更新规则
      tags: [alert]
    delete:
      summary: 删除规则（builtin=true 行返 400）
      tags: [alert]
      responses:
        '200': { description: deleted }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/StepUpRequired' }

  /admin/alert-rules/{id}/enabled:
    parameters: [{ $ref: '#/components/parameters/ID' }]
    patch:
      summary: 启停规则
      tags: [alert]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }

  /admin/alert-rules/{id}/deliveries:
    parameters: [{ $ref: '#/components/parameters/ID' }]
    get:
      summary: 历史送达记录
      tags: [alert]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 500, default: 50 }

  /admin/system-alerts:
    get:
      summary: 列出当前 active 告警
      tags: [alert]

  /admin/system-alerts/{id}/dismiss:
    parameters: [{ $ref: '#/components/parameters/ID' }]
    post:
      summary: 手工 dismiss 告警（step-up gated）
      tags: [alert]
      responses:
        '200': { description: ok }
        '401': { $ref: '#/components/responses/StepUpRequired' }

components:
  securitySchemes:
    cookie:
      type: apiKey
      in: cookie
      name: _oauth2_proxy
    bearer:
      type: http
      scheme: bearer
      bearerFormat: incusadmin-token
  parameters:
    ID:
      in: path
      name: id
      required: true
      schema: { type: integer, format: int64 }
    VMName:
      in: path
      name: name
      required: true
      schema: { type: string, pattern: '^[a-zA-Z0-9-]+$' }
  responses:
    Unauthorized:
      description: 未登录或 token 无效
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: 无权限访问该资源
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: 请求错误
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    StepUpRequired:
      description: 'admin 敏感动作 5 分钟内未 OIDC re-auth；body: { error: step_up_required, redirect: <url> }'
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, enum: [step_up_required] }
              redirect: { type: string, format: uri }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
    VM:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        cluster_id: { type: integer, format: int64 }
        user_id: { type: integer, format: int64 }
        ip: { type: string, nullable: true }
        status:
          type: string
          enum: [creating, running, stopped, suspended, error, deleted, gone]
        cpu: { type: integer }
        memory_mb: { type: integer }
        disk_gb: { type: integer }
        os_image: { type: string }
        node: { type: string }
        rescue_state: { type: string, enum: ['', entering, on, exiting] }
        trashed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
    FirewallGroup:
      type: object
      required: [slug, name]
      properties:
        slug: { type: string }
        name: { type: string }
        description: { type: string }
        rules:
          type: array
          items: { $ref: '#/components/schemas/FirewallRule' }
    FirewallRule:
      type: object
      properties:
        direction: { type: string, enum: [ingress, egress] }
        action: { type: string, enum: [allow, reject, drop] }
        protocol: { type: string, enum: [tcp, udp, icmp4, icmp6, ''] }
        destination_port: { type: string }
        source_cidr: { type: string }
        description: { type: string }
        sort_order: { type: integer }
    NotifyChannel:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        kind:
          type: string
          enum: [dingtalk, feishu, wecom, webhook, smtp]
        enabled: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    NotifyChannelCreate:
      type: object
      required: [name, kind, config]
      properties:
        name: { type: string, minLength: 1, maxLength: 128 }
        kind:
          type: string
          enum: [dingtalk, feishu, wecom, webhook, smtp]
        config:
          type: object
          description: |
            按 kind 不同：
              dingtalk/feishu: { webhook_url, sign_secret? }
              wecom: { webhook_url }
              webhook: { url, method?, bearer?, headers? }
              smtp: { host, port, username, password, from, to[], tls }
        enabled: { type: boolean, default: true }
    AlertRuleCreate:
      type: object
      required: [name, kind, scope_kind, window_seconds, severity]
      properties:
        name: { type: string }
        kind:
          type: string
          enum: [imbalance, vm_cpu, vm_mem, vm_disk, vm_down, cluster_node_offline, order_failed, job_failed, balance_low, backup_failed]
        scope_kind:
          type: string
          enum: [global, cluster, vm, user]
        scope_id: { type: integer, format: int64 }
        threshold: { type: number }
        window_seconds: { type: integer, minimum: 30, maximum: 86400 }
        severity:
          type: string
          enum: [info, warning, error, critical]
        channel_ids:
          type: array
          items: { type: integer, format: int64 }
        enabled: { type: boolean }
